10_BasicArrays.exe 11_ArraysPart2.exe 12_Basic_SortingAlgorithm.exe 13_2D_Arrays.exe 14_char_array_string.exe 15_Vectors.exe 16_BitManipulation.exe 17_OOPs_P1.exe 1_code.exe 21_DivideAndConquer.exe 25_LinkedListPart01.exe 26_linkedListPart02.exe 27_StackPart01.exe 3_operators.exe 4_ConditionalStatements.exe 4_SwitchStatement.exe 4_TernaryOperator.exe 4_practiseQs.exe 5_PractiseQues.exe 5_forLoop.exe 5_whileLoop.exe 6_importantPattern.exe 7_functions.exe 8_BinaryNumberSys.exe 9_introToPointers.exe
